footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px #cccccc solid;
    position: absolute;
    vertical-align: middle;
    bottom: 0;
}
footer p {
    text-align: center;
}
